VITE_REVENUECAT_APPLE_API_KEY=appl_replace_me
VITE_REVENUECAT_ANDROID_API_KEY=
VITE_8BITGO_ENTITLEMENT_ID=pixel_courier_premium
VITE_8BITGO_OFFERING_ID=launch
VITE_8BITGO_PACKAGE_ID=\$rc_lifetime
VITE_8BITGO_FULL_UNLOCK_PRODUCT_ID=com.eightbitgo.pixelcourier.full_unlock
VITE_DEV_PREMIUM_PREVIEW=true
